## 1-1) 각각의 데이터에서 신장과 체중의 평균 구하기

### 원 데이터의 신장과 체중의 평균값

In [74]:
import pandas as pd
import csv

f = open('ex01.csv', 'r', encoding='utf-8')
data = csv.reader(f)
header=next(data)
header=next(data)
df = pd.DataFrame(list(data))

sum_height = 0 # 신장 전체 합
sum_weight = 0 # 체중 전체 합

# 신장 평균 구하기
for i in range(0, 12):
    df[1][i] = float(df[1][i]) # 데이터 실수화
    sum_height += df[1][i]
    
avg_height = round(sum_height / 12, 4) # 신장 평균

# 체중 평균 구하기
for i in range(0, 12):
    df[2][i] = float(df[2][i]) # 데이터 실수화
    sum_weight += df[2][i]
    
avg_weight = round(sum_weight / 12, 4)

print("원 데이터 신장(X1)의 평균값 : ", avg_height) # 신장 평균값 출력
print("원 데이터 체중(X2)의 평균값 : ", avg_weight) # 체중 평균값 출력

원 데이터 신장(X1)의 평균값 :  167.451
원 데이터 체중(X2)의 평균값 :  65.9154

### 평균보정 데이터의 신장과 체중의 평균값

In [75]:
import pandas as pd
import csv

f = open('ex01.csv', 'r', encoding='utf-8')
data = csv.reader(f)
header=next(data)
header=next(data)
df = pd.DataFrame(list(data))

sum_height = 0 # 신장 전체 합
sum_weight = 0 # 체중 전체 합

# 신장 평균 구하기
for i in range(0, 12):
    df[3][i] = float(df[3][i]) # 데이터 실수화
    sum_height += df[3][i]
    
avg_height = round(sum_height / 12, 4) # 신장 평균

# 체중 평균 구하기
for i in range(0, 12):
    df[4][i] = float(df[4][i]) # 데이터 실수화
    sum_weight += df[4][i]
    
avg_weight = round(sum_weight / 12, 4)

print("평균보정 데이터 신장(X1)의 평균값 : ", avg_height) # 신장 평균값 출력
print("평균보정 데이터 체중(X2)의 평균값 : ", avg_weight) # 체중 평균값 출력

평균보정 데이터 신장(X1)의 평균값 :  0.0
평균보정 데이터 체중(X2)의 평균값 :  -0.0

---

## 1-2) 각각의 데이터에서 신장과 체중의 분산 구하기

### 1-1 에서 구한 평균값

In [76]:
import pandas as pd
import csv
import numpy as np

f = open('ex01.csv', 'r', encoding='utf-8')
data = csv.reader(f)
header=next(data)
header=next(data)
df = pd.DataFrame(list(data))

sum_height = 0 # 신장 전체 합
sum_weight = 0 # 체중 전체 합

### 원데이터 ###

# 신장 평균 구하기
for i in range(0, 12):
    df[1][i] = float(df[1][i]) # 데이터 실수화
    sum_height += df[1][i]
    
avg_height = round(sum_height / 12, 4) # 신장 평균

# 체중 평균 구하기
for i in range(0, 12):
    df[2][i] = float(df[2][i]) # 데이터 실수화
    sum_weight += df[2][i]
    
avg_weight = round(sum_weight / 12, 4)

### 평균보정 데이터 ###

sum_height2 = 0 # 신장 전체 합
sum_weight2 = 0 # 체중 전체 합

# 신장 평균 구하기
for i in range(0, 12):
    df[3][i] = float(df[3][i]) # 데이터 실수화
    sum_height2 += df[3][i]
    
avg_height2 = round(sum_height2 / 12, 4) # 신장 평균

# 체중 평균 구하기
for i in range(0, 12):
    df[4][i] = float(df[4][i]) # 데이터 실수화
    sum_weight2 += df[4][i]
    
avg_weight2 = round(sum_weight2 / 12, 4)

print("원 데이터 신장(X1)의 평균값 : ", avg_height) # 신장 평균값 출력
print("원 데이터 체중(X2)의 평균값 : ", avg_weight) # 체중 평균값 출력
print("평균보정 데이터 신장(X1)의 평균값 : ", avg_height2) # 신장 평균값 출력
print("평균보정 데이터 체중(X2)의 평균값 : ", avg_weight2) # 체중 평균값 출력

원 데이터 신장(X1)의 평균값 :  167.451
원 데이터 체중(X2)의 평균값 :  65.9154
평균보정 데이터 신장(X1)의 평균값 :  0.0
평균보정 데이터 체중(X2)의 평균값 :  -0.0

### 원 데이터의 분산

In [77]:
### 원 데이터 ###

vsum_height = 0 # 신장 데이터의 분산 구하기 위한 합
for i in range(0, 12):
    vsum_height += (df[1][i] - avg_height)**2
    
vavg_height = round(vsum_height / 12, 4) # 신장 데이터의 분산

vsum_weight = 0 # 체중 데이터의 분산 구하기 위한 합
for i in range(0, 12):
    vsum_weight += (df[2][i] - avg_weight)**2
    
vavg_weight = round(vsum_weight / 12, 4) # 체중 데이터의 분산

print("원 데이터 신장(X1)의 분산 : ", vavg_height)
print("원 데이터 체중(X2)의 분산 : ", vavg_weight)

원 데이터 신장(X1)의 분산 :  82.8687
원 데이터 체중(X2)의 분산 :  113.7014

### 평균보정 데이터의 분산

In [78]:
### 평균보정 데이터 ###

vsum_height2 = 0 # 신장 데이터의 분산 구하기 위한 합
for i in range(0, 12):
    vsum_height2 += (df[3][i] - avg_height2)**2
    
vavg_height2 = round(vsum_height2 / 12, 4) # 신장 데이터의 분산

vsum_weight2 = 0 # 체중 데이터의 분산 구하기 위한 합
for i in range(0, 12):
    vsum_weight2 += (df[4][i] - avg_weight2)**2
    
vavg_weight2 = round(vsum_weight2 / 12, 4) # 체중 데이터의 분산

print("평균보정 데이터 신장(X1)의 분산 : ", vavg_height2)
print("평균보정 데이터 체중(X2)의 분산 : ", vavg_weight2)

평균보정 데이터 신장(X1)의 분산 :  82.8687
평균보정 데이터 체중(X2)의 분산 :  113.7012

---

## 1-3) 두 가지 데이터에 대해 평균과 분산의 차이 비교

1. 원 데이터와 평균보정 데이터의 평균 값은 다르게 나온다. 먼저, 원 데이터의 평균은 우리가 흔히 구하는 산술평균의 값이 나왔다. 반면에, 평균보정 데이터의 평균값은 0.0으로 신장과 체중의 평균이 모두 동일하게 나온 것으로 보아, 평균보정이라는 말의 의미가 편차를 의미하는 것이라고 생각이 든다.
---
2. 분산을 비교해 보았을 때, 원 데이터와 평균보정 데이터의 분산이 동일하게 나왔다. 분산은 (값 - 평균)^2 의 합이다. 이를 보아 두 데이터의 분산이 같은 이유는 (평균보정 데이터 - 평균보정 데이터 평균)^2 == (원 데이터 - 원 데이터 평균)^2 이므로, 1번에서 생각한대로 평균보정이라는 말이 원 데이터 - 원 데이터 평균 임을 추측할 수 있다.

---

## 2. 앞의 표를 바탕으로 표준화 데이터를 만들고, 평균과 분산 구하기

#### 데이터 표준화
- 상대적 결과를 통일된 지표로 변환하는 정규화 과정
- 표준화 데이터(Z) = (데이터 - 평균) / 표준편차(S)

### 표준화 데이터 (z_data) 구하기

In [202]:
import pandas as pd
import csv
import numpy as np

f = open('ex01.csv', 'r', encoding='utf-8')
data = csv.reader(f)
header=next(data)
header=next(data)
df = pd.DataFrame(list(data))

sigma_height = round(np.sqrt(vavg_height), 4) # 신장 표준편차
sigma_weight = round(np.sqrt(vavg_weight), 4) # 체중 표준편차

# print("신장의 평균 값 : ", avg_height)
# print("체중의 평균 값 : ", avg_weight)

# print("신장의 분산 값 : ", vavg_height)
# print("체중의 분산 값 : ", vavg_weight)

# print("신장의 표준편차 : ", sigma_height)
# print("체중의 표준편차 : ", sigma_weight)

df

     0         1        2        3         4
0    1  166.1732  55.6023  -1.2778   -10.313
1    2  186.7266  87.3961  19.2756   21.4807
2    3  159.2694  55.2475  -8.1816  -10.6679
3    4  174.4309  71.6564   6.9799     5.741
4    5  172.2638  65.7194   4.8128   -0.1959
5    6   148.988  53.0763  -18.463  -12.8391
6    7  159.2009  48.4501  -8.2501  -17.4653
7    8   171.779  70.6938    4.328   4.77839
8    9  163.1725  64.6079  -4.2785   -1.3075
9   10  165.4728  71.5016  -1.9782    5.5862
10  11  172.9416  71.4369   5.4906    5.5215
11  12  168.9933  75.5963   1.5423    9.6809

In [203]:
# ex01.csv의 데이터 실수화
for i in range(1, 5):
    for j in range(0, 12):
        df[i][j] = round(float(df[i][j]), 4)
df

     0         1        2        3        4
0    1  166.1732  55.6023  -1.2778  -10.313
1    2  186.7266  87.3961  19.2756  21.4807
2    3  159.2694  55.2475  -8.1816 -10.6679
3    4  174.4309  71.6564   6.9799    5.741
4    5  172.2638  65.7194   4.8128  -0.1959
5    6   148.988  53.0763  -18.463 -12.8391
6    7  159.2009  48.4501  -8.2501 -17.4653
7    8   171.779  70.6938    4.328   4.7784
8    9  163.1725  64.6079  -4.2785  -1.3075
9   10  165.4728  71.5016  -1.9782   5.5862
10  11  172.9416  71.4369   5.4906   5.5215
11  12  168.9933  75.5963   1.5423   9.6809

In [204]:
 # 표준화 데이터를 z_data.csv로 새로 저장
for i in range(0, 12):
    df[1][i] = (df[1][i] - avg_height)/sigma_height
    df[2][i] = (df[2][i] - avg_weight)/sigma_weight
    df[3][i] = (df[3][i] - avg_height2)/sigma_height
    df[4][i] = (df[4][i] - avg_weight2)/sigma_weight
df.to_csv('z_data.csv', encoding='utf-8', index=False)

In [211]:
# 표준화 데이터 출력
import pandas as pd
import csv
import numpy as np

f = open('z_data.csv', 'r', encoding='utf-8')
data = csv.reader(f)
header=next(data)
df = pd.DataFrame(list(data))

for i in range(1, 5):
    for j in range(0, 12):
        df[i][j] = round(float(df[i][j]), 4)
        
df

     0       1       2       3       4
0    1 -0.1404 -0.9672 -0.1404 -0.9672
1    2  2.1175  2.0145  2.1175  2.0145
2    3 -0.8988 -1.0005 -0.8988 -1.0005
3    4  0.7668  0.5384  0.7668  0.5384
4    5  0.5287 -0.0184  0.5287 -0.0184
5    6 -2.0282 -1.2041 -2.0282 -1.2041
6    7 -0.9063 -1.6379 -0.9063 -1.6379
7    8  0.4754  0.4481  0.4754  0.4481
8    9   -0.47 -0.1226   -0.47 -0.1226
9   10 -0.2173  0.5239 -0.2173  0.5239
10  11  0.6032  0.5178  0.6032  0.5178
11  12  0.1694  0.9079  0.1694  0.9079

### 표준화 데이터 (z_data)에 대한 평균과 분산 계산하기

#### 평균

In [223]:
# 원데이터 X1 평균

sum = 0

for i in range(0, 12):
    sum += df[1][i]
z_avg_height = round(sum/12, 4)
print("원데이터 X1의 표준화 데이터의 평균 값 : ", z_avg_height)

원데이터 X1의 표준화 데이터의 평균 값 :  0.0

In [225]:
# 원데이터 X2 평균

sum2 = 0

for i in range(0, 12):
    sum2 += df[2][i]
z_avg_weight = round(sum2/12, 4)
print("원데이터 X2의 표준화 데이터의 평균 값 : ", z_avg_weight)

원데이터 X2의 표준화 데이터의 평균 값 :  -0.0

In [226]:
# 표준화데이터 X1 평균

sum3 = 0

for i in range(0, 12):
    sum3 += df[3][i]
z_avg_height2 = round(sum3/12, 4)
print("평균보정 데이터 X1의 표준화 데이터의 평균 값 : ", z_avg_height2)

원데이터 X1의 표준화 데이터의 평균 값 :  0.0

In [228]:
# 표준화데이터 X2 평균

sum4 = 0

for i in range(0, 12):
    sum4 += df[4][i]
z_avg_weight2 = round(sum4/12, 4)
print("평균보정 데이터 X1의 표준화 데이터의 평균 값 : ", z_avg_weight2)

원데이터 X1의 표준화 데이터의 평균 값 :  -0.0

#### 분산
- 분산 = 편차 제곱의 평균

In [231]:
# 원데이터 X1의 분산
vsum = 0
for i in range(0, 12):
    vsum += (df[1][i] - z_avg_height)**2
    
z_vavg_height = round(vsum/12, 4)
print("원데이터 X1의 표준화데이터의 분산 : ", z_vavg_height)

원데이터 X1의 표준화데이터의 분산 :  1.0

In [233]:
# 원데이터 X2의 분산
vsum2 = 0
for i in range(0, 12):
    vsum2 += (df[2][i] - z_avg_weight)**2
    
z_vavg_weight = round(vsum2/12, 4)
print("원데이터 X2의 표준화데이터의 분산 : ", z_vavg_weight)

원데이터 X2의 표준화데이터의 분산 :  1.0

In [238]:
# 평균보정 데이터 X1의 분산
vsum3 = 0
for i in range(0, 12):
    vsum3 += (df[3][i] - z_avg_height2)**2
    
z_vavg_height2 = round(vsum3/12, 4)
print("평균보정 데이터 X1의 표준화데이터의 분산 : ", z_vavg_height2)

평균보정 데이터 X1의 표준화데이터의 분산 :  1.0

In [237]:
# 평균보정 데이터 X2의 분산
vsum4 = 0
for i in range(0, 12):
    vsum4 += (df[4][i] - z_avg_weight2)**2
    
z_vavg_weight2 = round(vsum4/12, 4)
print("평균보정 데이터 X2의 표준화데이터의 분산 : ", z_vavg_weight2)

평균보정 데이터 X2의 표준화데이터의 분산 :  1.0

## 앞의 표를 바탕으로 신장과 체중의 두 변수간의 공분산 행렬을 만들기

### 공분산 행렬이란?
- 변수들 사이의 공분산을 행렬로 나타낸 것
- 정방행렬이다
- 전치 시켰을 때, 동일한 결과가 나오는 대칭행렬이다
- 행렬의 대각항들은 단일 변수의 분산을 의미
- 기호 K_xx 로 표시